@{
    ViewData["Title"] = "About";
}

<body style="background-image: url(https://i.stack.imgur.com/YlsJf.gif); background-repeat: no-repeat; background-size: cover; ">
    <div class="text-center testing">
        <h1 class="display-4" style="font-size:100px; font-family: fantasy; color: aliceblue">About This Project</h1>
        <p class="display-4" style="font-size:30px; font-family: 'Times New Roman', Times, serif; color: aliceblue"> <i>Hospital MVC was assigned by <a href="https://i.imgur.com/jztDwq8.gif?noredirect"; target="_blank">Madullah Prasad </a> to test the wicked skills of Christian Anacan. In short, Christian accepted this task and annihilated the bar of expectations. He went on to accept many more challenges to prove his incredible (and handsome) self.</i></p>
        <p class="display-4" style="font-size:30px; font-family: 'Times New Roman', Times, serif; color: aliceblue"> <i>What an absolute legend, right? </i> </p>
        <p class="display-4" style="font-size:20px; font-family: 'Times New Roman', Times, serif; color: aliceblue"> <i>Who wrote this? </i> </p>
    </div>
</body>

