@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url(https://i.stack.imgur.com/YlsJf.gif); background-repeat: no-repeat; background-size:cover;">
    <div class="text-center">
        <h1 class="display-4" style="font-size:150px; font-family: fantasy; color: aliceblue">Welcome to</h1>
        <h1 class="display-4" style="font-size:150px; font-family: fantasy; color: aliceblue">MVC Hospital</h1>
        <p class="display-4" style="font-size:40px; font-family: 'Times New Roman', Times, serif; color: aliceblue"> <i>Assembled by Anacan</i></p>
    </div>
</body>

